@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Vazirmatn', sans-serif;
}
.slider_home_product .mySwiper{
  @apply w-[95%] mx-auto h-[250px] sm:h-[280px] md:h-[330px] lg:h-[370px] xl:h-[450px] relative my-3 flex flex-col justify-center items-center
}

.slider_home_product .swiper-button-prev {
  @apply w-[30px] h-[30px] absolute top-[90%] left-[85%] lg:left-[90%] after:content-['prev'] after:text-[20px] after:absolute text-center after:left-[8px]  rounded-full  bg-[#249f8f] text-white
}

.slider_home_product .swiper-button-next {
  @apply w-[30px] h-[30px] absolute top-[90%] left-[92%] lg:left-[95%]  after:content-['next'] after:text-[20px] after:absolute text-center after:left-[10px] rounded-full  bg-[#249f8f] text-white
}

.slider_home_product .swiper-pagination{
  @apply   hidden md:flex  w-[100px] h-[100px] justify-center items-center bg-sky-50  rounded-full z-20  mx-auto absolute top-0 left-[78%] lg:left-[85%] before:contain-content before:w-[50px] before:h-[50px]  before:absolute before:top-[1px] before:-left-[50px] before:rounded-tr-[100px] before:shadow-shad-white-right    
  after:contain-content after:w-[50px] after:h-[50px] after:absolute after:top-[1px] after:-right-[50px] after:rounded-tl-[100px] after:shadow-shad-white
}
.slider_home_product .swiper-pagination-bullet{
  @apply z-20 bg-teal-500
}

.inputcolor{
  @apply w-[20px] h-[20px] outline-none  appearance-none rounded-md border-2 border-gray-300
}
.inputcoloractive{
  @apply text-clip
}

.btn-pro{
  @apply py-1 px-3 md:w-[150px] md:h-[40px] md:text-nowrap rounded-lg transition-all shadow-sm shadow-black 
}

.shad-r-b{
  box-shadow: 1px 3px 10px rgba(74, 74, 74, 0.725);
}
.shad-l-b{
  box-shadow: 1px 3px 10px rgba(74, 74, 74, 0.725);
}